* {
    box-sizing: border-box;
    background: darkgreen;
    color: lightyellow;
    font-family: helvet
  }
  

  .main-container {
    margin: auto;
  }
  
  h1 {
    color: rgb(171, 197, 24);
  }
  
  .hidden {
    display: none;
  }